<!DOCTYPE html>

<html>

<header>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/src/app.js"></script>
</header>

<body>
    <div class="main-content">   
        {{>header}}
        <img class='okaybear' src="/img/okaybears.png">
    </div>
    
</body>

<footer>
    {{>footer}}

</footer>


</html>