<!DOCTYPE html>

<html>

<header>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/src/app.js"></script>
</header>


<body>
    <div class="main-content">   
        {{>header}}
        <h2>{{phone}}</h2>
        <p>Email: eugenetan1803@gmail.com</p>
    </div>

    
</body>

<footer>
    {{>footer}}

</footer>


</html>