<!DOCTYPE html>

<html>

<header>
    <link rel="stylesheet" href="/css/style.css">
    
</header>

<body>
    <div class="main-content">   
        {{>header}}
    </div>
    

    <h1>Location: Singapore</h1>
    <h2>Temperature (in Degrees Celsius): 27 </h2>
    <p>{{country}}</p>
    <p>{{location}}</p>
</body>


<footer>
    {{>footer}}
    <script src="/js/app.js"></script>
</footer>

</html>